@using Core.Features.GetInactiveVillage

@inject IMediator mediator
@inject DataService dataService

@model InactiveVillagesParameters
@{
    ViewData["Title"] = "Inactive";
}

@using (Html.BeginForm(nameof(VillagesController.Inactive), "Villages", FormMethod.Post))
{
    @Html.EditorForModel(nameof(InactiveVillagesParameters))
}

@if (ViewData.ModelState.IsValid)
{
    var dto = await mediator.Send(new InactiveVillageQuery(Model));

    <div class="text-center">
        <p>Your current server is @dataService.Server</p>
        <p>We found <b>@dto.TotalItemCount villages</b> fit your request</p>
    </div>

    if (dto.Count > 0)
    {
        @Html.DisplayFor(_ => dto, nameof(InactiveVillageDto))
        @await Html.PartialAsync("_PaginationPartial", dto)
    }
}
else
{
    <div class="text-center">
        <p>Your current server is @dataService.Server</p>
        <p>There is something wrong with your request. Please check again</p>
    </div>
}