@model List<int>
@{
    var value = string.Join(',', Model);
    var name = ViewData.ModelMetadata.Name;
}
<div class="form-group list-parameter" >
    @Html.LabelForModel(new { @class = "control-label" })
    <small class="form-text text-muted">@ViewData.ModelMetadata.Name's id, separated with ","</small>
    <input type="text" class="form-control input"  name="@name" id="@name" value="@value" />
</div>