@using Core.Features.GetInactiveVillage

@model InactiveVillagesParameters

<div class="container">
    @await Html.PartialAsync("_ServerPickerPartial")
    @Html.EditorFor(m => m.X)

    @Html.EditorFor(m => m.Y)
    @Html.EditorFor(m => m.Date)


    <div class="mt-3">
        <a href="#" class="link-primary" data-bs-toggle="collapse" data-bs-target="#filter-fields">
            Advanced filters
        </a>

    </div>
    <div class="collapse" id="filter-fields">
        @Html.EditorFor(m => m.MinDistance)
        @Html.EditorFor(m => m.MaxDistance)

        @Html.EditorFor(m => m.MinPlayerPopulation)
        @Html.EditorFor(m => m.MaxPlayerPopulation)

        @Html.EditorFor(m => m.MinVillagePopulation)
        @Html.EditorFor(m => m.MaxVillagePopulation)
    </div>

    <div>
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.PageSize)
    </div>
    <input type="submit" id="Check" class="btn btn-primary mt-2" value="Check" />
</div>