@using Core.Features.GetVillageContainsPopulationHistory

@model VillageContainsPopulationHistoryParameters

@using (Html.BeginForm(nameof(VillagesController.PopulationHistory), "Villages", FormMethod.Post))
{
    @Html.EditorFor(m => m.MinPopulation)
    @Html.EditorFor(m => m.MaxPopulation)

    @Html.EditorFor(m => m.MinChangePopulation)
    @Html.EditorFor(m => m.MaxChangePopulation)

    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "form-check-label" })
        @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Tribe, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.Tribe, Constants.Tribes, new { @class = "form-control" })
    </div>

    @Html.EditorFor(m => m.IgnoreCapital)
    @Html.EditorFor(m => m.IgnoreNormalVillage)

    <div class="form-group">
        <label for="AllianceInput">@Html.DisplayNameFor(m => m.Alliances)</label>
        <small id="AllianceInputHelp" class="form-text text-muted">Id of alliances, separated with ","</small>
        <input id="AllianceInput" class="form-control" type="text" value="@string.Join(',', Model.Alliances)" />
    </div>
    <div class="form-group">
        <label for="PlayerInput">@Html.DisplayNameFor(m => m.Players)</label>
        <small id="PlayerInputHelp" class="form-text text-muted">Id of players, separated with ","</small>
        <input id="PlayerInput" class="form-control" type="text" value="@string.Join(',', Model.Players)" />
    </div>
    <div>
        @Html.HiddenFor(m => m.Alliances)
        @Html.HiddenFor(m => m.Players)
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.SortField)
        @Html.HiddenFor(m => m.SortOrder)
    </div>
    <input type="submit" id="Check" class="btn btn-primary mt-2" value="Check" />
}
