@using MapSqlQuery.Models.Output;
@using MapSqlQuery.Models.View;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model VillageFilterViewModel

@{
    ViewData["Title"] = "Village filter";
}
<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm("Index", "VillageFilter", FormMethod.Post))
{ 
	<table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Input.AllianceId)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Input.AllianceId, Model.Alliances)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Input.TribeId)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Input.TribeId, Model.Tribes)
            </td>
        </tr>
        <tr>
            <td>Enter X: </td>
            <td>@Html.TextBoxFor(m => m.Input.X, new {@type = "number"})</td>
            <td>Enter Y: </td>
            <td>@Html.TextBoxFor(m => m.Input.Y, new {@type = "number"})</td>
        </tr>
		<tr>
			<td>Enter min population: </td>
            <td>@Html.TextBoxFor(m => m.Input.MinPop, new {@type = "number"})</td>
		</tr>
		<tr>
            <td>Enter max population: </td>
            <td>@Html.TextBoxFor(m => m.Input.MaxPop, new {@type = "number"})</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Submit Form" /></td>
		</tr>
	</table>
}

<p>@Model.VillageTotal players of server @Model.Server </p>
<table class="table">
    <thead>
        <tr>
            <th>
                Link to village
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model) => model.AllianceName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.VillageName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.Tribe)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.Coordinate)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.Population)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.IsCapital)
            </th>
            <th>
                @Html.DisplayNameForInnerType((VillageInfo model)  => model.Distance)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Villages)
        {
            <tr>
                <td>
                    <a href="https:/@ViewData["Server"]/position_details.php?x=@item.X&y=@item.Y" target="_blank">Show</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllianceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VillageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tribe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coordinate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Population)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCapital)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm())
{
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.Villages.PageCount < Model.Villages.PageNumber ? 0 : Model.Villages.PageNumber)
            of @Model.Villages.PageCount
            @Html.PagedListPager(Model.Villages, page => {
                Model.Input.PageNumber = page;
                return Url.Action("Index", Model.Input );
                }, Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
}