@using Core.Features.GetPlayerContainsPopulation

@model PlayerContainsPopulationParameters

@using (Html.BeginForm(nameof(PlayersController.Index), "Players", FormMethod.Post))
{
    <div class="form-group">
        <label for="AllianceInput">@Html.DisplayNameFor(m => m.Alliances)</label>
        <small id="AllianceInputHelp" class="form-text text-muted">Id of alliances, separated with ","</small>
        <input id="AllianceInput" class="form-control" type="text" value="@string.Join(',', Model.Alliances)" />
    </div>
    <div class="form-group">
        <label for="PlayerInput">@Html.DisplayNameFor(m => m.Players)</label>
        <small id="PlayerInputHelp" class="form-text text-muted">Id of players, separated with ","</small>
        <input id="PlayerInput" class="form-control" type="text" value="@string.Join(',', Model.Players)" />
    </div>
    <div>
        @Html.HiddenFor(m => m.Alliances)
        @Html.HiddenFor(m => m.Players)
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.SortField)
        @Html.HiddenFor(m => m.SortOrder)
    </div>
    <input type="submit" id="Check" class="btn btn-primary mt-2" value="Check" />
}