@using Core.Features.GetPlayerContainsPopulation

@model PlayerContainsPopulationParameters

@using (Html.BeginForm(nameof(PlayersController.Index), "Players", FormMethod.Post))
{
    @Html.EditorFor(m => m.Alliances, "ListInt")
    @Html.EditorFor(m => m.Players, "ListInt")

    <div>
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.SortField)
        @Html.HiddenFor(m => m.SortOrder)
    </div>
    <input type="submit" id="Check" class="btn btn-primary mt-2" value="Check" />
}